<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.np.onei.servicesapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:name="com.np.onei.utils.ApplicationController"
        android:icon="@drawable/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/new_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="com.np.onei.servicesapp.ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.np.onei.servicesapp.ui.FilterActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.PaymentActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.np.onei.servicesapp.ui.Profile_tech"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.BankFormActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.AceeptedDetailReqActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.DetailReqActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.TechAcceptRequestActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.TechPendingRequestActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.EnqryFormActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".TechMainActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.TechLoginActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.TechSignupActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.LoginActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.SignupActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.BookingActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.HistoryActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.MainActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.BookingSuccessActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.ProfileActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.NotificationActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.SatisfyActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.np.onei.servicesapp.ui.ContactUsActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.np.onei.servicesapp.ui.TechCompletedRequestActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.np.onei.servicesapp.ui.TermsActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_live_4010f9e181720f41715b6135ed03bff0fa1da1f5"/>
    </application>

</manifest>